* {
  font-family: "Raleway", sans-serif;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.my-primary {
  /* background-color: #ba7e08; */
  background-color: #1a943f;
}

header#main-header {
  z-index: 100;
  position: fixed;
  width: 100%;
  animation: headerEntry 0.9s ease-out 0s 1 normal forwards;
}
@keyframes headerEntry {
  0% {
    opacity: 0%;
    transform: translate(0px, -8px);
  }
}
header#main-header nav#main-navigation-bar .navbar-collapse .nav-link {
  font-size: 14px;
  font-weight: bold;
}
main {
  background-color: rgb(236, 236, 236);
  min-height: calc(100vh - 35px);
}
.post-carouse-wrapper {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.post-carouse-wrapper .single-post-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  animation: postWrapperEntry 0.9s ease-out 1 normal forwards;
  opacity: 0%;
}
@keyframes postWrapperEntry {
  0% {
    transform: translate(0px, 8px);
  }
  100% {
    opacity: 100%;
  }
}
.post-carouse-wrapper .single-post-wrapper:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  box-shadow: inset 0px 0px 30px black;
  height: 100%;
  opacity: 50%;
  transition: all 0.3s ease-out;
}
.post-carouse-wrapper .single-post-wrapper:hover::before {
  opacity: 80%;
  background-color: black;
}
.post-carouse-wrapper .single-post-wrapper .post-title {
  position: absolute;
  transition: all 0.5s ease-out;
  color: white;
  transform: translate(20px, 0px);
  font-weight: bolder;
  opacity: 0;
  width: 80%;
}
.post-carouse-wrapper .single-post-wrapper:hover .post-title {
  opacity: 100%;
  transform: translate(20px, 20px);
}
.post-carouse-wrapper .single-post-wrapper .post-excerpt {
  position: absolute;
  transition: all 0.2s ease-out;
  color: white;
  transform: translate(20px, 0px);
  font-weight: lighter;
  opacity: 0;
  width: 80%;
  font-size: 12px;
}
.post-carouse-wrapper .single-post-wrapper:hover .post-excerpt {
  opacity: 100%;
  transform: translate(20px, 50px);
}

main#main-wrapper::before {
  content: "";
  display: block;
  height: 120px;
}
@media (max-width: 991px) {
  .post-carouse-wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }
}

#single-post-wrapper #single-post-cover-image {
  transform: translateY(-7px);
  width: 100%;
  height: 280px;
  overflow: hidden;
}

#single-post-wrapper #single-post-cover-image::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
  height: 280px;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3085609243697479) 87%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3085609243697479) 87%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3085609243697479) 87%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

#single-post-wrapper #single-post-cover-image img {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: calc(50% - 250%);
}
#single-post-wrapper #single-post-cover-image > .container {
  margin-top: 200px;
}
